*{
    font-family:Arial;
}
h1{
    padding:30px;
    text-align:center;
    margin-bottom:20px;
    background-color:green;
    color:white;
}
.btn{
    padding: 5px 10px;
    margin:5px 10px;
    border:0px;
    border-radius:5px;
    font-size:medium;
}
.btn-red{
    background:red;
    color:white;
}
.btn-blue{
    background:blue;
    color:white;
}
.btn-green{
    background:green;
    color:white;
}
.nav-link{
    text-decoration:none;
    padding:0px;
    /*background:blue;  
    border-radius:5px;
    border:1px solid blue;
    color:white;*/
    margin: 0px 5px;
}
.nav-link:hover, .btn:hover{
    opacity:0.5;
}
nav{
    text-align:center;
    display:flex;
    justify-content:space-between;
    max-width:400px;
    margin: auto;
    margin-bottom:20px;
}
a{
    text-decoration:none;
}
footer{
    text-align:center;
    margin-bottom:40px;
}
h2{
    margin:0px;
    padding:0px;
}
#content{
    max-width:900px;
    margin:auto;
    border:2px solid #555;
    padding:10px;
    margin-bottom:20px;
}
.log{
    max-width:400px;
    padding:10px;
    margin:auto;
    border:1px solid #777;
    box-shadow:5px 5px 5px 5px #333;
}
.mt{
    margin-top:6rem;
}
.log > h2{
    text-align:center;
}
.log>*{
    margin:5px;
}
.log>form>*{
    margin:5px;
}
.log>form>input{
    padding:10px;
    width: calc(100% - 30px);
}
input{
    padding: 10px;
    width: calc(100% - 25px);
}
select{
    padding: 10px;
    width: 100%;
}
.flash{
    padding:10px 0px;
    max-width:420px;
    margin: auto;
    margin-bottom:5px;
}
.flash>p{
    background-color:pink;
    color:red;
    width:clac(100% - 10px);
    margin:0px;
    padding:5px;
}
canvas{
    border:1px solid green;
    background: linear-gradient(to bottom,rgb(255, 110, 110) 50%, rgb(115, 115, 255) 50%);
}
.big{
    padding: 10px;
}
.full-width{
    width: 100%;
}
.text-center{
    text-align: center;
    padding: 5px;
}
.checkbox{
    width: 25px;
    padding:0px;
}
label{
    margin:5px 0px;
    display: block;
}