<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Greenhouse Automation</title>
</head>
<body>
    <h1>Greenhouse Automation</h1>
    <div class="mt">
        <div class="flash">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="log">
            <h2>Log in to your account</h2><br/>
            <form action="{{url_for('register')}}" method="post">
                <label>Name</label><br />
                <input name="name" type="text"/><br />
                <label>Username</label><br />
                <input name="username" type="text"/><br />
                <label>Email</label><br />
                <input name="email" type="text"/><br />
                <label>Password</label><br />
                <input name="password" type="text"/><br />
                <label>Re-Enter Password</label><br />
                <input name="password2" type="text"/><br />
                <button type="submit" class="btn btn-green">register</button>
                <a href="{{url_for('home')}}" class="btn btn-blue">login</a>
            </form>
        </div>
    </div>
</body>
</html>