<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Greenhouse</title>
    {% endblock %}
</head>
<body>
    <div id="header">
        {% block header %}
        <h1>Greenhouse Automation</h1>
        <nav>
            <a class="nav-link" href="{{url_for('green.monitor')}}">Monitor</a> |
            <a class="nav-link" href="{{url_for('green.new_plant')}}">New Plant</a> |
            <a class="nav-link" href="{{url_for('green.tasks')}}">Tasks</a> |
            <a class="nav-link" href="{{url_for('green.config')}}">Configuration</a>
        </nav>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer id="footer">
        {% block footer%}
        <form action="{{url_for('auth.logout')}}" method="post">
            <button type="submit" class="btn btn-red">log out</button>
        </form>
        {% endblock %}
    </footer>
</body>
</html>