{% extends "dash_base.html" %}
{% block head %}
{{super()}}
{% endblock %}
{% block header %}
{{super()}}
{% endblock %}
{% block content %}
<h2>Monitor</h2>
<h3>Plant</h3>
{% if selected.name %}
<p>Name: {{selected.name}}</p>
<p>Minimum Temperature: {{selected.min_temp}}</p>
<p>Maximum Temperature: {{selected.max_temp}}</p>
<p>Day Length: {{selected.day_length}}</p>
<p>Light Intensity: {{selected.light}}</p>
<p>Number of Weekly Irrigation: {{selected.irrigation}}</p>
<p>Moisture Level of the Soil: {{selected.moisture}}</p>
<br />
{% else %}
<p>No Data</p>
<br />
{% endif %}
<hr />
<h3>Light</h3>
<p style="display: none;" id="light_l">{{green.light}}</p>
<canvas id="light_canvas" height="320px" width="400px" onclick="show()"></canvas>
<br />
<hr />
<h3>Temperature</h3>
<p style="display: none;" id="temp_l">{{green.temp}}</p>
<canvas id="temp_canvas" height="320px" width="400px" onclick="show()" onload="show()"></canvas>
<br />
<h3>Water Tank</h3>
{% if green.tank %}
<p>Tank Has Water!</p>
{% else %}
<p>Tank Is Empty!</p>
{% endif %}
<hr />
<br />
<h3>Moisture Level</h3>
{% if green.moisture %}
{% if green.moisture== 2 %}
<p>Medium</p>
{% elif green.moisture==3 %}
<p>High</p>
{% else %}
<p>Low</p>
{% endif %}
{% else %}
<p>No Data</p>
{% endif %}
<script>
function show(){
var canvas1 = document.getElementById("light_canvas");
var canvas2 = document.getElementById("temp_canvas");
var ctx1 = canvas1.getContext("2d");
var ctx2 = canvas2.getContext("2d");
var light = document.getElementById('light_l').innerHTML
var temp = document.getElementById('temp_l').innerHTML
var light_array = light.split(',')
var temp_array = temp.split(',')
ctx1.strokeStyle = "black";
ctx2.strokeStyle = "black";
ctx1.lineWidth = 10;
ctx2.lineWidth = 10;
var cursor = [5,160]
for(i=0; i<light_array.length; i++){
    var x = parseInt(light_array[i])
    ctx1.moveTo(5+i*16,160);
    ctx1.lineTo(5+i*16,160-x*20);
    cursor = [5 + i*16,160-x*20]
    console.log('[for 1]:'+ (parseInt(light_array[i])*2))
    ctx1.stroke();
}
cursor = [5,160]
for(i=0; i<temp_array.length; i++){
    var x = parseInt(temp_array[i])
    ctx2.moveTo(5+i*16,160);
    ctx2.lineTo(5+i*16,160-x*2);
    cursor = [5+i*16,160-x*2]
    ctx2.stroke();
}
}
window.onload = show()
</script>
{% endblock %}
{% block footer %}
{{super()}}
{% endblock %}