{% extends "dash_base.html" %}
{% block head %}
{{super()}}
{% endblock %}
{% block header %}
{{super()}}
{% endblock %}
{% block content %}
<h2>New Plant</h2>
<form action="{{url_for('green.new_plant')}}" method="post">
    <label>Name</label>
    <input name="name" type="text" class="big">
    <label>Minimum Temperature</label>
    <input name="min_temp" type="number" class="big">
    <label>Maximum Temperature</label>
    <input name="max_temp" type="number" class="big">
    <label>Daylength</label>
    <input name="day_length" type="number" class="big" max="24" min="0">
    <label>Light Intensity</label>
    <select name="light" class="big full-width">
        <option value="3">High</option>
        <option value="2">Medium</option>
        <option value="1">Low</option>
    </select>
    <label>Moisture Level of Soil</label>
    <select name="moisture" class="big full-width">
        <option value="3">High</option>
        <option value="2">Medium</option>
        <option value="1">Low</option>
    </select>
    <label>Irrigation Frequency</label>
    <select name="irrigation" class="big full-width">
        <option value="14">twice a day</option>
        <option value="7">once a day</option>
        <option value="2">twice a week</option>
        <option value="3">3 times a week</option>
        <option value="4">4 times a week</option>
        <option value="5">5 times a week</option>
        <option value="6">6 times a week</option>
    </select>
    <div class="text-center">
        <button type="submit" class="btn btn-blue">Create</button>
        <a href='{{url_for("green.new_plant")}}' type="button" class="btn btn-green">Reset</a>
    </div>
</form>
{% endblock %}
{% block footer %}
{{super()}}
{% endblock %}