{% extends "dash_base.html" %}
{% block head %}
{{super()}}
{% endblock %}
{% block header %}
{{super()}}
{% endblock %}
{% block content %}
<h2>Tasks</h2>
<br />
<hr />
<h3>Command</h3>
<form action="{{url_for('green.tasks')}}" method="post">
	<select name="command">
		<option value="turn on pump">turn on pump for 5s</option>
		<option value="turn on pump">turn on pump for 10s</option>
		<option value="turn on pump">turn on pump for 15s</option>
	</select>
	<div class="text-center"><button type="submit" class="btn btn-blue">Send</button></div>
</form>
<hr />
<h3>Account Configurations</h3>
<form action="{{url_for('green.account_config')}}" method="post">
	<input type="checkbox" name="email" class="checkbox" {% if gr.email_enabled%}checked{%endif%}>email<br/>
	<input type="checkbox" name="fan" class="checkbox" {% if gr.fan%}checked{%endif%}>fan<br/>
	<input type="checkbox" name="heater" class="checkbox" {% if gr.heater%}checked{%endif%}>heater<br/>
	<input type="checkbox" name="pump" class="checkbox" {% if gr.pump%}checked{%endif%}>pump<br/>
	<div class="text-center"><button type="submit" class="btn btn-blue">Save</button></div>
</form>
{% endblock %}
{% block footer %}
{{super()}}
{% endblock %}